<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <form action="http://localhost:3000/posts" method= "get">
        <button
        type = "submit">
            click here to see posts
        </button>
    </form>

  <form action="http://localhost:3000/posts/new" method= "get">
        <button
        type = "submit">
            click to add post
        </button>
    </form>

</body>
</html>